/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */

body {
    font-family: 'Figtree', sans-serif;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    color: black
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Card Styles */

.card {
    background-color: white;
    width: 24rem;
    height: 32,625rem;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px 0 rgba(0, 0, 0);
    padding: 24px;
}


.preview { /* Preview image */
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.category { /* Category button */
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    padding: 4px 12px;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 12px;
    width: 82px;
    height: 29px;
    font-size: 14px;
    line-height: 1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.author { /* Author section */
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 12px;
    margin-top: 20px;
    font-weight: 800;
    height: 32px;
}

.author img {
    width: 2rem;
    height: 2rem;
}

.author p {
    margin-top: 5.5px;
    margin-bottom: 5.5px;
}



/* Text Styles */

a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 12px;
}

a:hover {
    color:hsl(47, 88%, 63%)
}

.description {
    color: hsl(0, 0%, 42%);
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}

p:first-of-type  {
    margin-bottom: 12px;
}
